.wrapper{
    max-width: 1200px;
    margin: 0 100px 0 auto ;
    min-height: 500px;
    @include bp(max,1024px){
        margin: 0 0 0 auto ;
    }
    @include bp(max,500px){
        margin: 0 auto;
    }
    main{
        transition: all 0.3s ease-in-out;
        position: relative;
        section{
        }
    }
}
.wrapper.closed{
    display:none;
}


.heroBackground{
    @include size(100%, 100vh);
    background: url('../img/backgrounds/bg007.jpeg');
    background-size: cover;
    background-position: 0 23%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    @include bp(max,1024px){
        filter: brightness(0.7);
    }
}
.muscBg{
    background: url('../img/backgrounds/bg001.jpg');
    background-position: 0 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.videoBg{
    background: url('../img/backgrounds/bg011v2(sizeD).jpg');
    background-position: -300px 10%;
    background-size: cover;
    background-repeat: no-repeat;
    @include bp(min,1600px){
        background-position: -200px 10%;
    }
    @include bp(max,1024px){
        background-position: center 10%;
    }
}
.agendaBg{
    background: url('../img/backgrounds/bg003.jpg');
    background-position: 0 19%;
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutBg{
    background: url('../img/backgrounds/bg010v2.jpeg');
    background-position: -180px 15%;
    background-size: 80%;
    
    background-repeat: no-repeat;
    @include bp(max,1024px){
        background-position: center;
        background-size: cover;
    }
}
