body{
    background: white;
    line-height: 1.6;
    font-family: 'Poiret One', cursive !important;
    font-size: 16px;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    // position: relative;
    // overflow-x: hidde;
}

.hide-element{
    display: none;
}


/*

  Pace Stuff Minimal Theme

*/
@include bp(min,700px){
  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background: #d01435;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }

}
