.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]{
  display: inline-block;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  // letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  &:hover,
  &:active,
  &:focus{
    color: #333;
    border-color: #888;
    // outline: 0;
  }
}
