// http://fonts.googleapis.com/css?family=Fira+Sans
// @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic);
// @import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
// @import url(https://fonts.googleapis.com/css?family=Poiret+One);

@font-face {
  font-family: 'Poiret One';
  src: url('/assets/fonts/PoiretOne-Regular.ttf') format('truetype');

}
