@keyframes pulse{
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1.15, 1.15);
    // color: $redOne;
    box-shadow: 0 7px 10px black;
  }
}
@keyframes rightToLeft{
    0%{
        transform: translate3d(10%, 0, 0);
        opacity: 0;
    }
    70%{
        transform: translate3d(10%, 0, 0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes popIn {
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
