@mixin heroCta{
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  letter-spacing: 2.6px;
  &:hover{
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -5px) scale(1.1);
  }
}
