<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="theme-color" content="#1F261E">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body class="postBody">

        {{ content }}

        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/functions.js"></script>
        <script src="/assets/js/scrollsConfig.js"></script>
        <script>
        (function ($){
           
            function resizeModal () {
                console.log('resiz');
                var wWidht = $(window).width(), wHeight = $(window).height();
            
                if((wHeight < 700) && (wWidht < 600)){
                    
                    $('.textCrop').css('height', wHeight-200);
                    
                    
                }        
                else {
                    $('.textCrop').css('height', 840);
                }
            }
            
            $(document).ready(function () {
                resizeModal();
                
                $(window).resize(resizeModal);
            }); 
        })(jQuery);   
        </script>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83106611-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
